*~
*.pyc
__init__.py

MELA/data/*/libmcfm*.so
MELA/data/*/libjhugen*.so
MELA/data/*/libMELA.so

MELA/src/*.o
MELA/src/*.so
MELA/src/*.d
MELA/src/LinkDef_out*

MELA/interface/*.o
MELA/interface/*.so
MELA/interface/*.d

MELA/fortran/*.o
MELA/fortran/*.mod
MELA/fortran/*.so

MELA/test/Pdfdata/*.tbl
MELA/test/Pdfdata/*.LHgrid
MELA/test/br.sm1
MELA/test/br.sm2
MELA/test/ffwarn.dat
MELA/test/input.DAT
MELA/test/process.DAT
MELA/test/*.root
MELA/test/*.out
MELA/test/*.ref
MELA/test/reference/*.out
MELA/test/*.o
MELA/test/*_c.so
MELA/test/*_c.d
MELA/test/*.pcm
