*~
*.pyc
__init__.py

MELA/data/*.tar.gz*
MELA/data/*/*.tar.gz*
MELA/data/*/*.so
MELA/data/*/*.pcm
MELA/data/*/*.LHgrid

MELA/src/*.o
MELA/src/*.d
MELA/src/*.cxx

MELA/interface/*.o
MELA/interface/*.so
MELA/interface/*.d

MELA/COLLIER/*.o
MELA/COLLIER/*.mod
MELA/COLLIER/*.so
MELA/COLLIER/*/*
MELA/COLLIER/*.f
MELA/COLLIER/*.F
MELA/COLLIER/*.F90
MELA/COLLIER/*.c
MELA/COLLIER/*.cc
MELA/COLLIER/*.h
MELA/COLLIER/*.hh

MELA/fortran/*.o
MELA/fortran/*.mod
MELA/fortran/*.so

MELA/test/Pdfdata/*.tbl
MELA/test/Pdfdata/*.LHgrid
MELA/test/br.sm1
MELA/test/br.sm2
MELA/test/ffwarn.dat
MELA/test/input.DAT
MELA/test/process.DAT
MELA/test/*.root
MELA/test/*.out*
MELA/test/*.ref*
MELA/test/reference/*.out*
MELA/test/*.o
MELA/test/*.a
MELA/test/*.so
MELA/test/*.d
MELA/test/*.pcm
